{% extends "base.html" %}

{% block content %}
<div class="card p-4 shadow">
    <h3>Add IPC Section</h3>

    <form method="post">
        <div class="mb-3">
            <label>Section</label>
            <input type="text" name="section" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Crime</label>
            <input type="text" name="crime" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Punishment</label>
            <input type="text" name="punishment" class="form-control" required>
        </div>

        <button class="btn btn-success">Add Section</button>
    </form>
</div>
{% endblock %}
